  <table border="1px">
    <thead>
      <th>Request number</th>
      <th>Sequence number</th>
      <th>Request type</th>
      <th>Request action</th>
      <th>Response due</th>
      <th>Excavator</th>
      <th>Primary SA code</th>
      <th>Additional SA codes</th>
    </thead>
    <tbody>
      <% @tickets.each do |t| %>
        <tr>
          <td><%= t.request_number %></td>
          <td><%= t.sequence_number %></td>
          <td><%= t.request_type %></td>
          <td><%= t.request_action %></td>
          <td><%= t.response_due_date_time %></td>
          <td>
            <ul>
              <li><%= t&.excavator&.company_name %></li>
              <li><%= t&.excavator&.address %></li>
            </ul>
          </td>
          <td><%= t.primary_service_area_code %></td>
          <td><%= t.additional_service_area_codes.join(', ') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
